<div data-controller="transactions"> 
<h1 class="red">Bank Import</h1>
  <%= form_with model: Transaction.new, remote: true, authenticity_token: true do |f| %>
    <%= f.file_field :file_paths,
    class: "transaction-input",
      placeholder: "Enter file paths",
      data: {
        target: "transactions.file_paths"
      } %>
    <%= submit_tag("Import Transactions") %>
  <% end %>
  <button class="destroy" data-action="transactions#destroy">Delete All Transactions</button>
</div>
